*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 1%;
}

h2 {
  color: lightslategray;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;
  justify-items: center;
  outline: red 2px solid;
}

.board {
  display: grid;
  grid-template-columns: 16 1fr;
  grid-template-rows: 16 1fr;
}

.grid {
  border: 1px blue solid;
  width: 50px;
  display: inline-block;
}
